.bloop
.bsp
.idea
.metals
.vscode
project/project
project/**/metals.sbt
**/target
.DS_Store

website/translated_docs
website/build/
website/yarn.lock
website/node_modules
website/i18n/*
!website/i18n/en.json
website/static/api
website/variables.js

modules/core/src/main/scala/fields/poc